:root {
    --primery-font-family: "Mulish", sans-serif;
    --secondary-font-family: "Roboto", sans-serif;

    --primery-text-color: #696871;
    --secondary-text-color: #ffffff;
    --primery--titl-color: #19191b;
    --secondary--titel-color: #1d293f;
    --primery-acent-color: #5454D4;
    --secondary-acent-color: #FF7143;
    --third-acent-color: #9F3919;
    --border-acent-color: #E7E7E7;
}


body {
    font-family: var(--primery-font-family);
    color: var(--primery-text-color);

    background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font-family);
    color: var(--primery--titl-color);
}


.container {
    width: 1104px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.buttom {
    display: inline-block;
    min-width: 211px;
    padding: 19px 60px;

    border-radius: 10px;
    text-decoration: none;
}

.is-hiden {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}




/* /////////////////////////////header */

.page-header {
    padding: 30px 0;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-flex;
    align-items: center;
    margin-right: 175px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 30px;
    color: var(--primery--titl-color);

    text-decoration: none;
}

.logo-icon {
    margin-right: 15px;

    fill: red;
}

.logo-text {
    position: relative;
}

.logo-text::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -4px;

    width: 7px;
    height: 7px;

    background-color: var(--primery--titl-color);
    border-radius: 50%;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0 159px 0 0;
    padding: 0;

    list-style: none;
}

.list-item:not(:last-child) {
    margin-right: 49px;
}


.list-link {
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.03em;
    color: var(--primery-text-color);

    text-decoration: none;

    transition: color 250ms linear;
}

.list-item:hover .list-link {
    color: var(--primery--titl-color);
}

.list-link.current {
    position: relative;

    color: var(--primery--titl-color);
}

.current::after {
    content: '';
    position: absolute;
    bottom: 10px;

    display: block;
    width: 100%;
    height: 2px;

    background-color: var(--primery-acent-color);

}

.nav .buttom {
    color: var(--secondary-text-color);

    background-color: var(--secondary-acent-color);

    transition: background-color 250ms linear;
}

.nav .buttom:hover {
    background-color: var(--primery-acent-color);
}

/* Hero ////// */

.hero {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero .wraper {
    width: 459px;
}



.hero-titel {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 80px;
    line-height: 1;
    letter-spacing: -2.50px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.62px;
}

.hero .butoom-wraper {
    display: flex;
    align-items: center;
}


.hero .buttom {
    margin-right: 40px;

    color: var(--secondary-text-color);

    background-color: var(--primery-acent-color);

    transition: background-color 250ms linear;
}

.hero .buttom:hover {
    background-color: var(--secondary-acent-color);
}

.hero .thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 1px solid var(--border-acent-color);
}

/* ipsum-list */




.list-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style: none;
}

.icon-text {
    margin-top: 0;
    margin-bottom: 0;
}


/* SECTON */


.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-titel {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 50px;
    line-height: 1.14;
    letter-spacing: -0.03em;
    color: var(--primery--titl-color);
}

.section-text {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 459px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: var(--primery-text-color);
}

.learn-more {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.03em;
    color: var(--primery-acent-color);

    text-decoration: none;

    transition: color 250ms linear;
}

.learn-more:hover {
    color: var(--secondary-acent-color);
}

.section-thumb {
    width: 348px;
    height: 473px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subscription .section-thumb {
    background-image: url('../img/subscript\ \(1\).png');
}

.matrics .section-wraper {
    flex-direction: row-reverse;
}

.matrics .section-thumb {
    background-image: url('../img/metrics\ \(1\).png');
}



/* UTILS/////// */
.utils-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    list-style: none;
}

.utils-item {
    margin-right: 74px;
    max-width: 307px;
}

.utils-thumb {
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: 20px;
    width: 114px;
    height: 64px;

    background-image: url('../img/Card\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
}

.utils-item:nth-child(2) .utils-thumb {
    width: 91px;
    height: 72px;

    background-image: url('../img/Calculator\ \(1\).png');
}

.utils-item:nth-child(3) .utils-thumb {
    margin-right: auto;

    width: 118px;
    height: 63px;

    background-image: url('../img/Camera\ \(1\).png');
}

.utils-titel {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--primery--titl-color);
}

.utils-text {
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--primery-text-color);
}


/* product //// */

.product-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product .section-titel {
    margin-bottom: 0;
    max-width: 518px;

    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.product .buttom {
    min-width: 160px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--secondary-text-color);
}

.product .buttom:not(:last-child) {
    background-color: var(--primery-acent-color);
}

.product .buttom:last-child {
    color: var(--primery--titl-color);
}


/* CARD */

.product-wrap {
    margin-bottom: 88px;
}

.product-list {
    margin: 0;
    padding: 0;


    display: flex;
    align-items: center;

    list-style: none;
}

.product-card {
    padding: 32px 22px;
    margin-right: 18px;
    width: 330px;

    text-align: center;

    border-radius: 10px;
    background-color: #f8f8f8;
}

.product-card:last-child {
    margin-right: 0;
}

.card-titel {
    margin-top: 0;
    margin-bottom: 22px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--primery-text-color);

}

.card-price {
    margin-top: 0;
    margin-bottom: 28px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--primery--titl-color);
}

.card-dignitys {
    margin-top: 0;
    margin-bottom: 36px;
    padding: 0;
    list-style: none;
}

.dignity-item {
    margin-bottom: 10px;
}

.dignity {
    margin: 0;

    font-size: 17px;
    line-height: 3;
    letter-spacing: -0.03em;
    text-align: center;
}

.product-butoom {
    display: inline-block;
    padding: 19px 42px;

    min-width: 288px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.03em;
    color: var(--primery-acent-color);

    text-decoration: none;
    border-radius: 10px;
    background-color: var(--secondary-text-color);
}

.product-card:nth-child(2) {
    transform: scale(1.1);

    color: rgba(255, 255, 255, 0.7);

    background-color: #ff7143;


}

.product-card:nth-child(1) {
    margin-right: 18px;

}

.product-card:nth-child(2) {
    margin-right: 18px;
    margin-left: 18px;
}

.product-card:nth-child(2) .card-titel {
    color: rgba(255, 255, 255, 0.7);
}

.product-card:nth-child(2) .card-price {

    color: var(--secondary-text-color);

}

.product-card:nth-child(2) .product-butoom {
    color: var(--secondary-text-color);
    background-color: var(--third-acent-color);
}

.price-wrap {
    font-size: 28px;
}

.product-card:nth-child(3) {
    margin-left: 18px;
}