.buttom {
  display: inline-block;
  min-width: 211px;
  padding: 19px 60px;

  border-radius: 10px;
  text-decoration: none;
}

.buttom--orang {
  color: getTextColor("secondary");

  background-color: getBgColor("third");

  transition: background-color 250ms linear;

  &:hover {
    background-color: getBgColor("secondary");
  }
}

.buttom--blue {
  margin-right: 40px;

  color: getTextColor("secondary");

  background-color: getBgColor("secondary");

  transition: background-color 250ms linear;

  &:hover {
    background-color: getBgColor("third");
  }
}
