.logo {
  display: inline-flex;
  align-items: center;
  margin-right: 175px;

  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: getTitelColor("primery");

  text-decoration: none;
}

.logo__icon {
  margin-right: 15px;
}

.logo__text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -4px;

    width: 7px;
    height: 7px;

    background-color: getTitelColor("primery");
    border-radius: 50%;
  }
}
