.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__titel {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 50px;
  line-height: 1.14;
  letter-spacing: -0.03em;
}

.section__text {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 459px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}
